@font-face{
    font-family: "Richard Hamilton";
    src: url("../public/fonts/signature/richard-hamilton.ttf") format("truetype");
}
@font-face{
    font-family: "Rodrigues";
    src: url("../public/fonts/signature/rodrigues.otf") format("opentype");
}
@font-face{
    font-family: "Photograph Signature";
    src: url("../public/fonts/signature/photography-signature.ttf") format("truetype");
}
@font-face{
    font-family: "Beauty";
    src: url("../public/fonts/signature/beauty.ttf") format("truetype");
}
